.popup{
  background-color: #4f6ae3;
  padding: 20px;
  width: 250px;

  &__title{
    color: white;
    text-align: center;
  }

  &__times{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

      &-time{
          --key-text-color: #5c5c5c;
          --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
          --docsearch-key-gradient: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
          border: none;
          background: var(--docsearch-key-gradient);
          border-radius: 3px;
          box-shadow: var(--docsearch-key-shadow);
          color: var(--key-text-color);
          height: 2.5em;
          width: 4em;
          text-align: center;
          padding: 0.6em;
          margin: 0 0.6em;
          display: inline-block;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1em;
          min-width: 1em;
          line-height: 1em;
          user-select: none;

          &:hover{
            cursor: pointer;
            box-shadow: 1px 1px 2px 1px rgba(30,35,90,0.4);
          }

      }

  }
}
